.header {
  margin-bottom: 3rem;
}

#title {
  padding: 1rem;
  background-color: #f6f5f5;
}

.return {
  margin: 1rem;
}

#movie-container-detail {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.btn-primary {
  margin-top: 1rem;
}
