/* header */

.header {
  margin-bottom: 3rem;
}

.title-link {
  text-decoration: none;
  color: black;
}

#title {
  padding: 1rem;
  background-color: #f6f5f5;
}

/* card */
#movie-container-detail {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.btn-primary {
  margin-top: 1rem;
}

.detail-card {
  display: flex;
}

@media (max-width: 45rem) {
  .detail-card {
    display: block;
  }
}

.card-title__detail {
  margin-bottom: 1rem;
}

.card-image__detail {
  width: 25vw;
  margin-right: 1rem;
}

@media (max-width: 45rem) {
  .card-image__detail {
    width: 100vw;
  }
}
