/* common */
body {
  background-color: #f6f5f5;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  margin-bottom: 4rem;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-family: "Bebas Neue", cursive;
  padding: 1rem;
  margin-left: 1rem;
}

.title-link {
  color: white;
}

@media (max-width: 45rem) {
  #title {
    font-size: 2rem;
  }
}

/* search */
#search-container {
  border: 1px solid #ddd;
  margin: 1rem;
  margin-right: 2rem;
  border-radius: 20px;
}

#form {
  margin: 3px;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

#search {
  width: 80%;
  height: 30px;
  border: none;
  background-color: gray;
  font-size: 1rem;
}

#search::placeholder {
  font-size: 1.2rem;
  color: white;
}

.fas {
  color: white;
  font-weight: 500;
}

/* card */
.card-container {
  margin: 1rem;
}

.card {
  margin: 1rem;
  transition: transform 0.2s;
}

.card:hover {
  opacity: 0.9;
  color: black;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  margin: 0;
}

.card-img-top {
  font-size: 20px;
}

.card.col-sm {
  padding: 0;
}
.card.col-sm:hover .hide {
  display: block;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.card-body span {
  font-weight: bold;
  padding: 5px;
}

.card-body span.green {
  float: right;
  color: green;
  border-radius: 20%;
}

.card-body span.orange {
  float: right;
  color: orange;
}

.card-body span.red {
  float: right;
  color: red;
}

.hide {
  display: none;
}
