/* common */

a {
  text-decoration: none;
  color: black;
}

/* header */

.header {
  margin-bottom: 4rem;
  background-color: #f6f5f5;
}

#title {
  padding: 1rem;
}

/* card */

.card-container {
  margin: 1rem;
}

.card {
  margin: 20px;
  transition: transform 0.2s;
}

.card:hover {
  opacity: 0.9;
  color: black;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 99;
}

.card-img-top {
  font-size: 20px;
}

.card.col-sm {
  padding: 0;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}
