/* common */

a {
  text-decoration: none;
  color: black;
}

/* header */

.header {
  margin-bottom: 4rem;
  background-color: #f6f5f5;
  display: flex;
  justify-content: space-between;
}

#title {
  padding: 1rem;
}

/* search */
#search-container {
  border: 1px solid #ddd;
  margin: 1rem;
}

#form {
  margin: 3px;
  font-size: 2rem;
  /* height: 30px; */
}

#search {
  width: 80%;
  height: 40px;
  border: none;
  background-color: #f6f5f5;
}

#search::placeholder {
  font-size: 2rem;
}

/* card */

.card-container {
  margin: 1rem;
}

.card {
  margin: 1rem;
  transition: transform 0.2s;
}

.card:hover {
  opacity: 0.9;
  color: black;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 99;
}

.card-img-top {
  font-size: 20px;
}

.card.col-sm {
  padding: 0;
}
.card.col-sm:hover .hide {
  display: block;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.card-body span {
  font-weight: bold;
  background-color: #f6f5f5;
  padding: 5px;
}

.card-body span.green {
  float: right;
  color: green;
  border-radius: 20%;
}

.card-body span.orange {
  float: right;
  color: orange;
}

.card-body span.red {
  float: right;
  color: red;
}

.hide {
  display: none;
}
